body{
  background-color: white;
}
.outside-box{
  width: 99vw;
  height: 21vh;
  border: dashed 1px black;
  box-sizing: border-box;
  margin: 0px 5px 5px 5px;
} 
.box-1{
  width: 100vw;
  height: 10vh;
  border: hidden;
  background-color: #28df99;
  padding: 10px;
  margin: auto;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font: xx-large bold;
  font-weight: bold;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font: large;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 5px;
}
.inside-box{
  height: 50px;
  width: 50px;
  border: solid 1px black;
  display: inline-block;
  margin: 10px;
}
.box-purp{
  background-color: rgb(63, 25, 112);
  width: 100px;
  border: solid 2px red;
} 
.box-blue{
  background-color: mediumblue;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 3px 3px 5px black ;
} 
.box-pink{
  background-color: salmon;
  height: 100px;
  width: 100px;
}
.box-3{
  height: 30vh;
} 
.circle{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: solid 1px black;
  display: block;
  margin: auto;
}
.snow-box{
  width: 80px;
  height: 30vh;
  border: hidden 1px;
  box-sizing: border-box;
  margin: 5px 5px 5px 5px;
  padding: 2px;
}
.snow-head{
  height: 45px;
  width: 45px;
}
.coal{
  background-color: white;
}
.eye1{
  margin-left: 12px;
  margin-top: 12px;
}
.carrot{
  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-bottom: 5px;
}
.snow-torso{
}
.buttons{
 display: block;
 margin: auto;
 margin-top: 8px;
}
.snow-base{
  height: 65px;
  width: 65px;
}
.box-4{
}
.box-pale{
  height: 115px;
  width: 115px;
  background-color: wheat;
  margin: 5px;
}
.circle-green{
  height: 95px;
  width: 95px;
  margin: auto 0;
  background-color: green;
}
.box-red{
  height: 60px;
  width: 60px;
  background-color: darkred;
  margin-left: 17px;
  margin-top: 17px;
  border: hidden;
}
h3{
  color: wheat;
  text-align: center;
  font-size: xx-small;
}
.circle-blue{
  background-color: mediumblue;
  border: hidden;
  height: 47px;
  width: 47px;
  margin: 0;
  clear: none;
}
.fish{
  height: 100px;
  width: 100px;
  margin: 10px 10px;
}